Lab1 Jupyter/.ipynb_checkpoints/Jupyter-checkpoint.ipynb
.ipython/profile_default/history.sqlite
.ipython/profile_default/startup/README
.local/share/jupyter/nbsignatures.db
.local/share/jupyter/notebook_secret
.local/share/jupyter/runtime/nbserver-6.json
.local/share/jupyter/runtime/nbserver-6-open.html
.local/share/jupyter/runtime/notebook_cookie_secret
Lab2 Pandas/.ipynb_checkpoints/PandasI-checkpoint.ipynb
Lab2 Pandas/.ipynb_checkpoints/Numpy-checkpoint.ipynb
Lab2 Pandas/.ipynb_checkpoints/PandasII-checkpoint.ipynb
Lab2 Pandas/.ipynb_checkpoints/PandasIII-checkpoint.ipynb
.local/share/jupyter/runtime/kernel-02835419-7889-4eed-a022-1c4072625260.json
Lab3 Expresiones Regulares/.ipynb_checkpoints/Expresiones regulares-checkpoint.ipynb
Lab4 Web Scraping/.ipynb_checkpoints/Web scraping-checkpoint.ipynb
Lab6 Tidy Data/.ipynb_checkpoints/tidy_data-checkpoint.ipynb
Lab5 APIs/.ipynb_checkpoints/APIs-checkpoint.ipynb
.jupyter/migrated
Montecarlo/.ipynb_checkpoints/montecarlo-model-selection-checkpoint.ipynb
.cache/matplotlib/fontlist-v300.json
.cache/pip/selfcheck.json
.cache/pip/http/0/b/c/5/a/0bc5adac67b22968d183f77f925e79c1f7c69c37236efb14f106abe5
.cache/pip/http/2/3/c/f/0/23cf074304f6b450a414615682250258e44ded7e12c9f68408ac4bd5
.cache/pip/http/a/1/9/5/3/a19537d3cf37c122db841d6fe4cd322bc10d1a558bb00d146b85cb9a
.ipynb_checkpoints/tidy_data_solved-checkpoint.ipynb
.local/share/jupyter/runtime/kernel-b4359bff-8761-415e-9968-9918ddac3468.json
Montecarlo/MonteCarloModelSelection_Functions.py
Montecarlo/montecarlo-model-selection.ipynb
Montecarlo/__pycache__/MonteCarloModelSelection_Functions.cpython-37.pyc
input/creditcardfraud/creditcard.csv
