Lab1 Jupyter/.ipynb_checkpoints/Jupyter-checkpoint.ipynb
.ipython/profile_default/history.sqlite
.ipython/profile_default/startup/README
.local/share/jupyter/nbsignatures.db
.local/share/jupyter/notebook_secret
.local/share/jupyter/runtime/nbserver-6.json
.local/share/jupyter/runtime/nbserver-6-open.html
.local/share/jupyter/runtime/notebook_cookie_secret
Lab2 Pandas/.ipynb_checkpoints/PandasI-checkpoint.ipynb
Lab2 Pandas/.ipynb_checkpoints/Numpy-checkpoint.ipynb
Lab2 Pandas/.ipynb_checkpoints/PandasII-checkpoint.ipynb
Lab2 Pandas/.ipynb_checkpoints/PandasIII-checkpoint.ipynb
